#background {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  display: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  background-attachment: fixed;
}

i {
  border: solid black;
  display: inline-block;
  padding-top: -75%;
  margin-left: 50%;
  margin-bottom: 30%;
  margin-top: 5%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.5);
}

.leftimg {
  width: 75%;
}

::-webkit-scrollbar {
  display: none;
}

.zindexn {
  position: absolute;
  z-index: -2;
}

.ContentContainer {
  display: block;
  font-size: 25px;
  padding-left: 17.5%;
  padding-right: 17.5%;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  z-index: 1;
  width: 90%;
  margin-left: 5%;
  background: rgba(224, 255, 255, 0.6);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ContentContainerImg {
  display: block;
  font-size: 25px;
  padding-left: 17.5%;
  padding-right: 17.5%;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  z-index: 1;
  width: 90%;
  margin-left: 5%;
  background: rgba(245, 255, 255, 0.75);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgx {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  margin-top: 5%;
}

h10 {
  display: block;
  text-align: center;
  font-size: 50px;
  color: lightblue;
  margin-top: 18%;
}

h5 {
  font-size: 25px;
}

.margin {
  margin-top: -15%;
}

.marginLower {
  margin-top: 25%;
}

.inlineimgs img {
  display: inline-block;
  width: 70%;
  margin: auto;
  height: 50%;
}

.w3-margin-top {
  margin-top: 16px !important
}

.w3-centered tr th,
.w3-centered tr td {
  text-align: center
}

.w3-light-blue,
.w3-hover-light-blue:hover {
  color: white !important;
  background-color: #87CEEB !important
}

.w3-container,
.w3-panel {
  padding: 0.01em 50px
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center
}

.w3-center {
  text-align: center !important
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both
}