#background {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  display: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  background-attachment: fixed;
}

.leftimg {
  width: 75%;
}

::-webkit-scrollbar {
  display: none;
}

.zindexn {
  position: absolute;
  z-index: -2;
}

.ContentContainer {
  display: block;
  padding: 5%;
  position: relative;
  background: lightcyan;
  z-index: 1;
  width: 90%;
  margin-left: 5%;
}

.imgx {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  margin-top: 5%;
}

h10 {
  display: block;
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 18%;
  margin-bottom: 50%;
}

h5 {
  font-size: 25px;
}

.margin {
  margin-top: -15%;
}
.inlineimgs img {
  display: inline-block;
  width: 40%;
  margin: 40pxs auto;
  height: 150%;
}

