body {
  overflow-x: hidden;
}

.typewriter {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), 6 fadeout 2s ease-in 2s 1 forwards;
  -webkit-animation: typing 3.5s steps(40, end), fadeout 2s ease-in 2s 1 forwards;
  -moz-animation: typing 3.5s steps(40, end), fadeout 2s ease-in 2s 1 forwards;
  -ms-animation: typing 3.5s steps(40, end), fadeout 2s ease-in 2s 1 forwards;
  -o-animation: typing 3.5s steps(40, end), fadeout 2s ease-in 2s 1 forwards;
}

::-webkit-scrollbar {
  display: none;
}

.logo {
  padding-left: -20px;
  padding-top: -20px;
  padding-bottom: 20px;
  width: 25%;
  height: auto;
  min-width: 150px;
  margin-left: 30px;
  margin-top: -14px;
}

html {
  overflow-y: scroll;
}

h3 {
  margin-top: 14%;
}

h3, h4 {
  font-size: 75px;
  text-align: center;
  color: rgb(160, 235, 235);
}

#background {
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  display: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  overflow: hidden;
  background-color: rgba(243, 243, 243, 0.85);
  margin: 0px 50px 0px 0px;
  width: 100%;
  position: auto;
  z-index: 10;
}

/* Translucent
  color: rgba(255,255,255,0.5);
  */

/* but its blue heh */

#hoverred a:hover {
  color: lightblue;
}

#navbar a {
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* #86D2EB */

#navbar a.active {
  background-color: #86D2EB;
  color: white;
}

.content {
  padding: 16px;
}

.glue {
  position: fixed;
  top: 0;
  width: 100%;
}

.glue+.content {
  padding-top: 60px;
}

.fadein {
  opacity: 0;
  text-align: center;
  -webkit-animation: fadein 2s ease-in 3s 1 forwards;
  -moz-animation: fadein 2s ease-in 3s 1 forwards;
  -ms-animation: fadein 2s ease-in 3s 1 forwards;
  -o-animation: fadein 2s ease-in 3s 1 forwards;
  animation: fadein 2s ease-in 3s 1 forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeinah {
  opacity: 0;
  text-align: center;
  -webkit-animation: fadein 2s ease-in 5s 1 forwards;
  -moz-animation: fadein 2s ease-in 5s 1 forwards;
  -ms-animation: fadein 2s ease-in 5s 1 forwards;
  -o-animation: fadein 2s ease-in 5s 1 forwards;
  animation: fadein 2s ease-in 5s 1 forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein09 {
  opacity: 0;
  text-align: center;
  -webkit-animation: fadein 2s ease-in 3s 1 forwards;
  -moz-animation: fadein 2s ease-in 3s 1 forwards;
  -ms-animation: fadein 2s ease-in 3s 1 forwards;
  -o-animation: fadein 2s ease-in 3s 1 forwards;
  animation: fadein 2s ease-in 3s 1 forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 24em;
  }
}
#background {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  display: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  background-attachment: fixed;
}

.opac {
  opacity: 0;
}