
body {
    overflow-x: hidden;
}

#background {
    margin:0;
    padding:0;
    position:absolute;
    z-index: -1;
    display: initial;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.90;
 }

 html {
  overflow-y: scroll;
}

.fadein {
  opacity: 0;
  text-align: center;
  -webkit-animation: fadein 2s ease-in 0s 1 forwards;
     -moz-animation: fadein 2s ease-in 0s 1 forwards; 
      -ms-animation: fadein 2s ease-in 0s 1 forwards;
       -o-animation: fadein 2s ease-in 0s 1 forwards; 
          animation: fadein 2s ease-in 0s 1 forwards; 
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

 #navbar {
  overflow: hidden;
  background-color: rgba(243,243,243,0.85);
  margin: 0px 50px 0px -0px;
  width: 100%;
  position: auto;
  z-index: 10;
}
  /* Translucent 
  color: rgba(255,255,255,0.5);
  */
#navbar a {
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px;
  text-decoration: none;  
  
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* #86D2EB */
#navbar a.active {
  background-color: #86D2EB;
  color: white;
}
html {
  overflow-y: scroll;
}

.content {
  padding: 16px;
}
.glue {
  position: fixed;
  top: 0;
  width: 100%;
}
.glue + .content {
  padding-top: 60px;
}s
.std {
    opacity: 1;
    text-align: center;
}

.logo {
    padding-left: -20px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 25%;
    height: 25%;
    margin-left: -61px;
}
 
h3 {
  margin-top: 17%;
}

h3, h4 {
  font-size: 75px;
  text-align: center;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}
/* but its blue heh */
#hoverred a:hover {
  color: lightblue;
}

.imgcenter {
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

.hidden {
    opacity: 0;
}

img {
    vertical-align: middle;
    margin: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}