
body {
    overflow-x: hidden;
}

.logo {
    opacity: 0;
    padding-left: -20px;
    padding-top: -20px;
    padding-bottom: 20px;
    width: 25%;
    height: 25%;
    margin-left: 10px;
}
html {
    overflow-y: scroll;
  }

h3 {
    font-size: 40px;
  }
#background {
    opacity: 0;
    margin:0;
    padding:0;
    position:absolute;
    z-index: -1;
    display: initial;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
 }

#navbar {
  overflow: hidden;
  background-color: rgba(243,243,243,0.90);
  margin: 0px 50px 0px -09px;
  width: 120%
}
  /* Translucent 
  color: rgba(255,255,255,0.5);
  */
#navbar a {
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* #86D2EB */
#navbar a.active {
  background-color: #86D2EB;
  color: white;
}

.content {
  padding: 16px;
}
.glue {
  position: fixed;
  top: 0;
  width: 100%;
}
.glue + .content {
  padding-top: 60px;
}
.fadein {
    opacity: 0;
    text-align: center;
    -webkit-animation: fadein 2s ease-in 2s 1 forwards;
       -moz-animation: fadein 2s ease-in 2s 1 forwards; 
        -ms-animation: fadein 2s ease-in 2s 1 forwards;
         -o-animation: fadein 2s ease-in 2s 1 forwards; 
            animation: fadein 2s ease-in 2s 1 forwards; 
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadein09 {
    opacity: 0;
    text-align: center;
    -webkit-animation: fadein 2s ease-in 2s 1 forwards;
       -moz-animation: fadein 2s ease-in 2s 1 forwards; 
        -ms-animation: fadein 2s ease-in 2s 1 forwards;
         -o-animation: fadein 2s ease-in 2s 1 forwards; 
            animation: fadein 2s ease-in 2s 1 forwards; 
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

.fadeout {
    opacity: 1;
    text-align: center;
    -webkit-animation: fadeout 2s ease-in 1s 1 forwards;
       -moz-animation: fadeout 2s ease-in 1s 1 forwards; 
        -ms-animation: fadeout 2s ease-in 1s 1 forwards;
         -o-animation: fadeout 2s ease-in 1s 1 forwards; 
            animation: fadeout 2s ease-in 1s 1 forwards; 
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}