h {
	color: black;
	font-family: arial;
}

a1 :link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a1 :visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a1 :hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a1 :active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}