h1 {
  font-size: 25px;
  font-family: arial;
}

#navbar {
  overflow: hidden;
  background-color: #f3f3f3;
  margin: 0px 50px 0px -10px;
  width: 120%
}
  /* Translucent 
  color: rgba(255,255,255,0.5);
  */
#navbar a {
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #86D2EB;
  color: white;
}

.content {
  padding: 16px;
}
.glue {
  position: fixed;
  top: 0;
  width: 100%;
}
.glue + .content {
  padding-top: 60px;
}
.fadein {
    opacity: 0;
    text-align: center;
    -webkit-animation: fadein 2s ease-in 2s 1 forwards;
       -moz-animation: fadein 2s ease-in 2s 1 forwards; 
        -ms-animation: fadein 2s ease-in 2s 1 forwards;
         -o-animation: fadein 2s ease-in 2s 1 forwards; 
            animation: fadein 2s ease-in 2s 1 forwards; 
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}